.about-page {
  margin: 0;
  padding: 0;
  background: url('../../images/bg02.jpg'); 
}

.about-page-banner {
  background: url('../../images/bg04.jpg'); 
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 100px;
  text-align: center;
  color: white;
}

.about-container {
  margin-top: 0px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  max-width: 88vw;
  /* background: url('../../images/bg02.jpg');  */
}

.about-title {
  font-size: 50px;
  font-weight: 800;
  letter-spacing: -.10em;
  line-height: 75px;
  margin: 0;
  color: #fff;
  font-family: 'Montserrat' ,sans-serif;
  text-align: center;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0px;
}