p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  /* color: #474f51; */
  color: #fff;
}

.projects-container > section {
  width: 88vw;
  max-width: 800px;
  background: url("../../images/bg04.jpg");
  box-shadow: 0 10px 40px #555;
  border: 1px solid #fff;
  border-radius: 4px;
}

.projects-container > section > p {
  width: 88vw;
  padding: 40px;
  max-width: 800px;
  margin-bottom: 0px;
  color: #fff;
}

.projects-container > section > p:last-child {
  padding-top: 0px;
}

.projects-container > section:last-child {
  margin-bottom: 60px;
  /* border: solid 1px white; */
}

.projects-container, .project-ss {
  max-width: calc(100% + 15px);
}

.project-ss {
  width: 100vw;
  border-top: 1px solid #FFF;
}

.tech-stack {
  color: #fff;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
  font-size: 18px;
  padding: 30px;
}

.github-link {
  text-align: center;
  font-size: 30px;
  color: #fff;
  margin-bottom: 15px;
}

h2 {
  font-size: 50px;
  color: #fff;
  font-weight: 800;
  letter-spacing: -.10em;
  line-height: 75px;
  margin: 0;
  font-family: 'Montserrat' ,sans-serif;
  text-align: center;
  margin-block-start: 0.67em;
  margin-block-end: 0.67em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-bottom: 0px;
}

.project-name {
  font-size: 36px;
}

.linebreak {
  color: #fff;
  background: #fff;
  height: 0.5;
  width: 50%;
  border: 1px solid #fff;
  margin-left: auto;
  margin-right: auto;
}



@media screen and (max-width: 800px) {
  .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: baseline;
  }

  .projects-container > section {
    width: 88vw;
    max-width: 88vw;
    /* margin-right: 40px; */
  }

  .projects-container > section > p {
    width: 88vw;
    padding: 40px;
    max-width: 88vw;
    margin-bottom: 0px;
  }

  .projects-container, .project-ss {
    max-width: calc(100% + 15px);
  }
  
  .project-ss {
    width: 88vw;
  }
}