@import url("https://fonts.googleapis.com/css?family=Dancing+Script");
@import url("https://fonts.googleapis.com/css?family=Raleway");
@import url('https://fonts.googleapis.com/css?family=Montserrat:800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Pacifico');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  margin: 0;
}

body, html {
  color: #333;
  background: url('../../images/bg04.jpg');
  margin: 0;
  padding: 0;
  line-height: 1.75;
  height: 100%;
  scroll-behavior: smooth;
}

main {
  height: 100%;
  bottom: 0;
  margin: 0 auto;
}

section {
  display: flex;
  text-align: left;
  align-content: center;
  justify-content: center;
  flex-direction: column;
  font-family: 'Open Sans', sans-serif;
  margin-top: 50px;
}

