p {
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  color: #474f51;
}

.about-container > section {
  margin-top: 50px;
  width: 90vw;
  max-width: 940px;
  background: #fff;
  box-shadow: 5px 10px 40px #555;
  border: 1px solid grey;
  border-radius: 4px;
}

.about-container > section > p {
  width: 90vw;
  padding: 40px;
  max-width: 940px;
}

.about-container > section:last-child {
  margin-bottom: 60px;
  /* border: solid 1px white; */
}

.abouts-container, .about-ss {
  max-width: 100%;
}

.about-ss {
  margin-top: 40px;
  border-style: none;
  width: 30vw;
  border-radius: 50%;
  box-shadow: 0 10px 15px #555;
  border: 1px solid grey;
  max-width: 400px;
}

#pancake-ss {
  margin-top: 0px;
}
