#contact-form {
  color: white;
  max-width: 360px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 200px;
}

#contact-form > :not(:last-child) {
  margin-bottom: 16px;
}

#contact-form .form-group {
  display: flex;
  flex-direction: column;
}

#contact-form label {
  text-align: left;
}

.contactForm-button {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: 30px;
}