header {
  background: url('../../images/bg04.jpg'); 
  margin: 0 auto;
  padding-top: 125px;
  padding-bottom: 100px;
  text-align: center;
  color: white;
}

h1 {
  font-size: 3rem;
  font-weight: bolder;
}

.home-banner {
  width: 88vw;
  max-width: 940px;
}

.banner-name {
  color: rgb(216, 25, 25);
}

.banner-subtitle {
  font-size: 20px;
}

h1, p {
  font-family: 'Raleway', sans-serif;
}

p {
  font-size: 24px;
}