nav {
  display: flex;
  background: url('../../images/bg01.jpg'); 
  /* hsla(0, 0%, 100%, 0.8); */
  justify-content: space-between;
  padding-top: 10px;
  border-bottom: 1px solid #5b6786;
  width: 100%;
  flex: 1 0 auto;
  margin: 0;
  padding: 0;  
  align-items: center;
  height: 50px;
}

.nav-container {
  display: flex;
}

.nav-container ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo {
  margin-left: 15px;
  margin-top: 5px;
}

nav > ul > li > a {
  font-family: 'Lora', serif;
  color: rgba(243, 230, 230, 0.884);
  font-weight: 400;
  text-decoration: none;
  margin-right: 15px;
}



/* nav > ul > li {
  list-style: none;
  display: inline;
  padding: 5px;
  padding-right: 20px;
}

nav > ul > li > a {
  transition-property: color, font-weight;
  transition-duration: 0.1s;
  transition-timing-function: linear;
  font-family: 'Lora', serif;
  color: rgba(243, 230, 230, 0.884);
  font-weight: 400;
  text-decoration: none;
}

nav > ul > li > a:hover {
  color: rgb(255, 255, 255);
  font-weight:500;
}

nav > .logo {
  padding: 5px;
  margin: 0px;
  margin-left: 5px;
  text-decoration: none;
} */