nav {
  display: flex;
  background: url('../../images/bg01.jpg'); 
  justify-content: space-between;
  padding-top: 10px;
  box-shadow: inset 0px -20px 70px 0px rgba(200, 220, 245, 0.1), inset 0px -1px 0px 0px rgba(255, 255, 255, 0.1), 0px 1px 7px 0px rgba(0, 0, 0, 0.6);
  text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.75);
  width: 100%;
  flex: 1 0 auto;
  margin: 0;
  padding: 0;  
  align-items: center;
  height: 50px;
}

.nav-container {
  display: flex;
}

.nav-container ul {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.logo {
  margin-left: 15px;
  margin-top: 5px;
}

nav > ul > li > a {
  font-family: 'Lora', serif;
  color: rgba(243, 230, 230, 0.884);
  font-weight: 400;
  text-decoration: none;
  margin-right: 15px;
}
